.body-container {
  position: relative;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 18px;
}

@media ( min-width: 744px ) {
  .body-container {
    padding: 0 30px;

    .body-contents {
      margin-top: 20px;
      min-height:400px;
    }
  }
}
@media ( min-width: 1128px ) {
  .body-container {
    padding: 0;

    .body-contents {
      margin-top: 20px;
      min-height: 500px;
    }
  }
}
